

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     <app-posts-dashboard></app-posts-dashboard>
  <!-- <app-one [getPerson]="person"></app-one>  -->
      <hr> 
      <!-- <p 
      [innerHTML]="title"
      class="alert alert-info">I Love Angular</p>

      <input
      [value]="title"
      type="text" class="form-control">
    </div>


    <div class="col-md-4 mt-5">
      <app-post-card [postCard]="postObj"></app-post-card>
    </div>
    <div class="col-md-4  mt-5">
      <app-post-card [postCard]="postObj"></app-post-card>
    </div>
    <div class="col-md-4  mt-5">
      <app-post-card [postCard]="postObj"></app-post-card>
    </div> -->

   
  </div>
</div>
